<!DOCTYPE html>
<html lang="en_GB">
    <head>
        <title>Scraft Launcher</title>
        <link rel="stylesheet" href="../main.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <script src="../js/locale.js"></script> -->
    </head>
    <body>
        <h1 style="padding: 0; border-bottom: 1px solid white">Skins</h1>
        <p>Set your own Skin!</p>
        <br>
        <a class="btn-primary" onclick='setPlayerSkin();'>Add Skin +</a>
        <br>
        <!-- <h4>Skin Preview</h4>
        <div id="userskin_prev"></div> -->
    </body>
</html>    